[Desktop Entry]
Name=Fex
Comment=Calculates the frequency excursion of a sound wave
Exec=fex-gtk %F
#Exec=fex-gtk --long %F
Terminal=false
Type=Application
Categories=Science
Icon=/usr/share/pixmaps/fex.png
MimeType=audio/*
